<a style="background: rgba(255,0,0,0.05)" href="https://github.com/irontiga/wimp-js/" class="btn-flat waves-effect waves-red red-text text-lighten-2" target="_blank">Github<i class="material-icons right">launch</i></a>
<br><br>
<a href="https://github.com/irontiga/wimp-js/releases/download/v0.2.1/wimp.min.js" class="waves-effect waves-light red lighten-2 btn-flat white-text" target="_blank">Download<i class="material-icons right">cloud_download</i></a>
<br>
<i class="grey-text text-lighten-1">wimp.min.js v0.2.1 </i>